{{#isDeprecated}}
@Deprecated('{{{classname}}} has been deprecated')
{{/isDeprecated}}
@JsonSerializable(
  checked: true,
  createToJson: true,
  disallowUnrecognizedKeys: false,
  explicitToJson: true,
)
class {{{classname}}} extends Schema {
{{>dart_constructor}}

{{#vars}}
  {{#description}}
  /// {{{.}}}
  {{/description}}
  @JsonKey(name: r'{{{baseName}}}')
  final {{{datatypeWithEnum}}}{{#isNullable}}?{{/isNullable}}{{^isNullable}}{{^required}}{{^defaultValue}}?{{/defaultValue}}{{/required}}{{/isNullable}} {{{name}}};

{{/vars}}
  /// The factory instance for creating [{{{classname}}}] from JSON.
  static const factory = {{{classname}}}Factory();

  factory {{{classname}}}.fromJson(Map<String, dynamic> json) => _${{{classname}}}FromJson(json);

  Map<String, dynamic> toJson() => _${{{classname}}}ToJson(this);

  static List<{{{classname}}}> listFromJson(dynamic json, {bool growable = false,}) {
    final result = <{{{classname}}}>[];
    if (json is List && json.isNotEmpty) {
      for (final row in json) {
        final value = {{{classname}}}.fromJson(row as Map<String, dynamic>);
        result.add(value);
      }
    }
    return result.toList(growable: growable);
  }

  static Map<String, {{{classname}}}> mapFromJson(dynamic json) {
    final map = <String, {{{classname}}}>{};
    if (json is Map && json.isNotEmpty) {
      json = json.cast<String, dynamic>(); // ignore: parameter_assignments
      for (final entry in json.entries) {
        final value = {{{classname}}}.fromJson(entry.value as Map<String, dynamic>);
        map[entry.key] = value;
      }
    }
    return map;
  }
}

class {{{classname}}}Factory extends JsonSchemaFactory<{{{classname}}}> {
  const {{{classname}}}Factory();

  @override
  {{{classname}}} fromJson(dynamic json) => {{{classname}}}.fromJson(json as Map<String, dynamic>);
}
{{>serialization/json_serializable/class_inline_enums}}