{{#description}}/// {{{description}}}{{/description}}
{{#isDeprecated}}
@Deprecated('{{{classname}}} has been deprecated')
{{/isDeprecated}}
@JsonEnum(valueField: 'value')
enum {{{classname}}} {
  {{#allowableValues}}
    {{#enumVars}}
  @JsonValue({{{value}}})
  {{{name}}}({{{value}}}){{^-last}},{{/-last}}{{#-last}};{{/-last}}
    {{/enumVars}}
  {{/allowableValues}}

  final {{{dataType}}} value;
  const {{{classname}}}(this.value);

  static const factory = {{{classname}}}Factory();

  factory {{{classname}}}.fromJson({{{dataType}}} value) {
    return {{{classname}}}.values.firstWhere((e) => e.value == value);
  }

  {{{dataType}}} toJson() => value;
}

class {{{classname}}}Factory extends JsonSchemaFactory<{{{classname}}}> {
  const {{{classname}}}Factory();

  @override
  {{{classname}}} fromJson(dynamic json) => {{{classname}}}.fromJson(json as {{{dataType}}});
}