{{#description}}/// {{{description}}}{{/description}}
{{#isDeprecated}}
@Deprecated('{{{classname}}} has been deprecated')
{{/isDeprecated}}
enum {{{classname}}} implements Schema {
  {{#allowableValues}}
    {{#enumVars}}
  {{{name}}}({{{value}}}),
    {{/enumVars}}
  {{/allowableValues}}
  unknownDefaultOpenApi({{#isString}}'unknown_default_open_api'{{/isString}}{{^isString}}11184809{{/isString}});

  final {{{dataType}}} value;
  const {{{classname}}}(this.value);

  static const factory = {{{classname}}}Factory();

  factory {{{classname}}}.fromJson({{{dataType}}} value) {
    return {{{classname}}}.values.firstWhere(
      (e) => e.value == value,
      orElse: () => {{{classname}}}.unknownDefaultOpenApi,
    );
  }

  {{{dataType}}} toJson() => value;

  @override
  String toLogString() => value.toString();
}

class {{{classname}}}Factory extends JsonSchemaFactory<{{{classname}}}> {
  const {{{classname}}}Factory();

  @override
  {{{classname}}} fromJson(dynamic json) => {{{classname}}}.fromJson(json as {{{dataType}}});
}
