{{#enumName}}
{{#description}}/// {{{description}}}{{/description}}
{{#isDeprecated}}
@Deprecated('{{{enumName}}} has been deprecated')
{{/isDeprecated}}
enum {{{ enumName }}} {
  {{#allowableValues}}
  {{#enumVars}}
  {{^isNull}}
  {{#description}}
      /// {{{.}}}
  {{/description}}
  {{{name}}}({{{value}}}),
  {{/isNull}}
  {{/enumVars}}
  {{/allowableValues}}
  unknownDefaultOpenApi('unknown_default_open_api');

  const {{{enumName}}}(this.value);

  final String value;

  factory {{{enumName}}}.fromJson(String value) {
    return {{{enumName}}}.values.firstWhere(
      (e) => e.value == value,
      orElse: () => {{{enumName}}}.unknownDefaultOpenApi,
    );
  }

  String toJson() => value;
}
{{/enumName}}