{{>header}}
{{>part_of}}

import '../../base/base_request.dart';

{{#x-unique-model-imports}}
import '../../model/{{{file}}}.dart';
{{/x-unique-model-imports}}

{{#x-inline-enums}}
{{>serialization/native/param_enum}}

{{/x-inline-enums}}
{{#operations}}
{{#operation}}

{{#vendorExtensions.x-is-list-return}}
/// Response schema wrapping a list of [{{{vendorExtensions.x-return-base-type}}}].
class {{{vendorExtensions.x-return-schema-name}}} extends Schema {
  const {{{vendorExtensions.x-return-schema-name}}}({required this.items});

  final List<{{{vendorExtensions.x-return-base-type}}}> items;

  static const factory = _{{{vendorExtensions.x-return-schema-name}}}Factory();
}

class _{{{vendorExtensions.x-return-schema-name}}}Factory extends JsonSchemaFactory<{{{vendorExtensions.x-return-schema-name}}}> {
  const _{{{vendorExtensions.x-return-schema-name}}}Factory();

  @override
  {{{vendorExtensions.x-return-schema-name}}} fromJson(dynamic json) {
    return {{{vendorExtensions.x-return-schema-name}}}(
      items: {{{vendorExtensions.x-return-base-type}}}.listFromJson(json),
    );
  }
}

{{/vendorExtensions.x-is-list-return}}
{{#vendorExtensions.x-has-json-body}}
/// Request schema for [{{{vendorExtensions.x-operation-id-pascal}}}Command].
class {{{vendorExtensions.x-operation-id-pascal}}}RequestSchema extends JsonRequestSchema {
  const {{{vendorExtensions.x-operation-id-pascal}}}RequestSchema({required this.data});

  final {{{bodyParam.dataType}}} data;

  @override
  {{#vendorExtensions.x-is-body-list}}
  {{#vendorExtensions.x-is-body-primitive}}
  dynamic toJsonPayload() => data;
  {{/vendorExtensions.x-is-body-primitive}}
  {{^vendorExtensions.x-is-body-primitive}}
  dynamic toJsonPayload() => data.map((e) => e.toJson()).toList();
  {{/vendorExtensions.x-is-body-primitive}}
  {{/vendorExtensions.x-is-body-list}}
  {{^vendorExtensions.x-is-body-list}}
  {{#vendorExtensions.x-is-body-primitive}}
  dynamic toJsonPayload() => data;
  {{/vendorExtensions.x-is-body-primitive}}
  {{^vendorExtensions.x-is-body-primitive}}
  dynamic toJsonPayload() => data.toJson();
  {{/vendorExtensions.x-is-body-primitive}}
  {{/vendorExtensions.x-is-body-list}}
}

{{/vendorExtensions.x-has-json-body}}
{{#vendorExtensions.x-is-multipart}}
/// Request schema for [{{{vendorExtensions.x-operation-id-pascal}}}Command] (multipart).
class {{{vendorExtensions.x-operation-id-pascal}}}RequestSchema extends FormDataRequestSchema {
  const {{{vendorExtensions.x-operation-id-pascal}}}RequestSchema({
  {{#formParams}}
    {{#required}}required {{/required}}this.{{{paramName}}},
  {{/formParams}}
  });

  {{#formParams}}
  final {{#isFile}}MultipartFileSchema{{/isFile}}{{^isFile}}{{{dataType}}}{{/isFile}}{{^required}}?{{/required}} {{{paramName}}};
  {{/formParams}}

  @override
  Map<String, dynamic> toFormDataMapPayload() {
    return {
    {{#formParams}}
      {{#required}}
      r'{{{baseName}}}': {{{paramName}}},
      {{/required}}
      {{^required}}
      if ({{{paramName}}} != null) r'{{{baseName}}}': {{{paramName}}},
      {{/required}}
    {{/formParams}}
    };
  }
}

{{/vendorExtensions.x-is-multipart}}
{{#summary}}
/// {{{.}}}
{{/summary}}
{{#notes}}
/// {{{.}}}
{{/notes}}
///
/// {{{httpMethod}}} {{{path}}}
class {{{vendorExtensions.x-operation-id-pascal}}}Command extends {{x-dart-base-request-name}}<{{{vendorExtensions.x-return-schema-name}}}> {
  {{{vendorExtensions.x-operation-id-pascal}}}Command({{#hasParams}}{
  {{#allParams}}
  {{^isBodyParam}}
  {{^isFormParam}}
    {{#required}}required {{/required}}this.{{{paramName}}},
  {{/isFormParam}}
  {{/isBodyParam}}
  {{/allParams}}
  {{#vendorExtensions.x-has-json-body}}
    required {{{bodyParam.dataType}}} {{{bodyParam.paramName}}},
  {{/vendorExtensions.x-has-json-body}}
  {{#vendorExtensions.x-is-multipart}}
  {{#formParams}}
    {{#required}}required {{/required}}{{{dataType}}}{{^required}}?{{/required}} {{{paramName}}},
  {{/formParams}}
  {{/vendorExtensions.x-is-multipart}}
  {{#vendorExtensions.x-is-binary-response}}
    this.binaryResponseType = const InMemoryBinaryResponse(),
  {{/vendorExtensions.x-is-binary-response}}
  }{{/hasParams}}{{^hasParams}}{{#vendorExtensions.x-is-binary-response}}{this.binaryResponseType = const InMemoryBinaryResponse()}{{/vendorExtensions.x-is-binary-response}}{{/hasParams}}){{#vendorExtensions.x-has-json-body}} : _payload = {{{vendorExtensions.x-operation-id-pascal}}}RequestSchema(data: {{{bodyParam.paramName}}}){{/vendorExtensions.x-has-json-body}}{{#vendorExtensions.x-is-multipart}} : _payload = {{{vendorExtensions.x-operation-id-pascal}}}RequestSchema(
        {{#formParams}}
          {{{paramName}}}: {{{paramName}}},
        {{/formParams}}
        ){{/vendorExtensions.x-is-multipart}};

  {{#allParams}}
  {{^isBodyParam}}
  {{^isFormParam}}
  {{#description}}
  /// {{{.}}}
  {{/description}}
  {{#vendorExtensions.x-is-inline-enum}}
  final {{{vendorExtensions.x-enum-class-name}}}{{^required}}?{{/required}} {{{paramName}}};
  {{/vendorExtensions.x-is-inline-enum}}
  {{^vendorExtensions.x-is-inline-enum}}
  final {{{dataType}}}{{^required}}?{{/required}} {{{paramName}}};
  {{/vendorExtensions.x-is-inline-enum}}
  {{/isFormParam}}
  {{/isBodyParam}}
  {{/allParams}}

  {{#vendorExtensions.x-has-json-body}}
  final {{{vendorExtensions.x-operation-id-pascal}}}RequestSchema _payload;

  {{/vendorExtensions.x-has-json-body}}
  {{#vendorExtensions.x-is-multipart}}
  final {{{vendorExtensions.x-operation-id-pascal}}}RequestSchema _payload;

  {{/vendorExtensions.x-is-multipart}}
  {{#vendorExtensions.x-is-binary-response}}
  @override
  final BinaryResponseType binaryResponseType;

  {{/vendorExtensions.x-is-binary-response}}
  @override
  String get path {
    var p = r'{{{path}}}';
    {{#pathParams}}
    {{#vendorExtensions.x-is-inline-enum}}
    p = p.replaceAll({{=<% %>=}}'{<% baseName %>}'<%={{ }}=%>, {{{paramName}}}.value.toString());
    {{/vendorExtensions.x-is-inline-enum}}
    {{^vendorExtensions.x-is-inline-enum}}
    p = p.replaceAll({{=<% %>=}}'{<% baseName %>}'<%={{ }}=%>, {{#isString}}{{{paramName}}}{{/isString}}{{^isString}}{{{paramName}}}.toString(){{/isString}});
    {{/vendorExtensions.x-is-inline-enum}}
    {{/pathParams}}
    return p;
  }

  {{#vendorExtensions.x-has-query-params}}
  @override
  List<QueryParameter> get queryParameters => [
    {{#queryParams}}
    {{#vendorExtensions.x-is-inline-enum}}
    {{#required}}
    QueryParameter(key: r'{{{baseName}}}', value: {{{paramName}}}.value),
    {{/required}}
    {{^required}}
    if ({{{paramName}}} != null) QueryParameter(key: r'{{{baseName}}}', value: {{{paramName}}}!.value),
    {{/required}}
    {{/vendorExtensions.x-is-inline-enum}}
    {{^vendorExtensions.x-is-inline-enum}}
    {{#required}}
    QueryParameter(key: r'{{{baseName}}}', value: {{{paramName}}}),
    {{/required}}
    {{^required}}
    if ({{{paramName}}} != null) QueryParameter(key: r'{{{baseName}}}', value: {{{paramName}}}),
    {{/required}}
    {{/vendorExtensions.x-is-inline-enum}}
    {{/queryParams}}
  ];

  {{/vendorExtensions.x-has-query-params}}
  @override
  HttpRequestMethod get method => HttpRequestMethod.{{{vendorExtensions.x-http-method-enum}}};

  @override
  {{#vendorExtensions.x-default-response-factory-expr}}
  SchemaFactory<{{{vendorExtensions.x-return-schema-name}}}> get defaultResponseFactory => {{{vendorExtensions.x-default-response-factory-expr}}};
  {{/vendorExtensions.x-default-response-factory-expr}}
  {{^vendorExtensions.x-default-response-factory-expr}}
  {{#vendorExtensions.x-is-binary-response}}
  SchemaFactory<{{{vendorExtensions.x-return-schema-name}}}> get defaultResponseFactory => InMemoryBinarySchema.factory;
  {{/vendorExtensions.x-is-binary-response}}
  {{^vendorExtensions.x-is-binary-response}}
  SchemaFactory<{{{vendorExtensions.x-return-schema-name}}}> get defaultResponseFactory => {{{vendorExtensions.x-return-schema-name}}}.factory;
  {{/vendorExtensions.x-is-binary-response}}
  {{/vendorExtensions.x-default-response-factory-expr}}

  @override
  {{#vendorExtensions.x-has-error-response}}
  SchemaFactory get defaultErrorResponseFactory => {{{vendorExtensions.x-default-error-factory-expr}}};
  {{/vendorExtensions.x-has-error-response}}
  {{^vendorExtensions.x-has-error-response}}
  SchemaFactory get defaultErrorResponseFactory => AnyDataSchema.factory;
  {{/vendorExtensions.x-has-error-response}}

  {{#vendorExtensions.x-has-response-factories}}
  @override
  Map<int, SchemaFactory> get responseFactories => {
    {{#vendorExtensions.x-response-factory-entries}}
    {{{statusCode}}}: {{{factoryExpr}}},
    {{/vendorExtensions.x-response-factory-entries}}
  };
  {{/vendorExtensions.x-has-response-factories}}

  @override
  RequestSchema get payload =>
  {{#vendorExtensions.x-has-json-body}}
      _payload;
  {{/vendorExtensions.x-has-json-body}}
  {{#vendorExtensions.x-is-multipart}}
      _payload;
  {{/vendorExtensions.x-is-multipart}}
  {{^vendorExtensions.x-has-json-body}}
  {{^vendorExtensions.x-is-multipart}}
      const EmptyRequestSchema();
  {{/vendorExtensions.x-is-multipart}}
  {{/vendorExtensions.x-has-json-body}}
  {{#vendorExtensions.x-has-header-params}}

  @override
  Map<String, dynamic> get headers => {
    {{#headerParams}}
    {{#required}}
    r'{{{baseName}}}': {{{paramName}}},
    {{/required}}
    {{^required}}
    if ({{{paramName}}} != null) r'{{{baseName}}}': {{{paramName}}},
    {{/required}}
    {{/headerParams}}
  };
  {{/vendorExtensions.x-has-header-params}}
}
{{/operation}}
{{/operations}}
