{{>header}}
{{>part_of}}
{{#models}}
{{#model}}
{{#imports}}
import '{{{.}}}.dart';
{{/imports}}

{{#isEnum}}
{{#native_serialization}}
{{>serialization/native/native_enum}}
{{/native_serialization}}
{{#json_serializable}}
{{>serialization/json_serializable/enum}}
{{/json_serializable}}
{{#built_value}}
{{>serialization/built_value/enum}}
{{/built_value}}
{{/isEnum}}
{{^isEnum}}
{{#native_serialization}}
{{>serialization/native/native_class}}
{{/native_serialization}}
{{#json_serializable}}
{{>serialization/json_serializable/class}}
{{/json_serializable}}
{{#built_value}}
{{>serialization/built_value/class}}
{{/built_value}}
{{/isEnum}}
{{/model}}
{{/models}}
