{{>header}}
{{>part_of}}
{{#models}}
{{#model}}
{{#json_serializable}}
import 'package:json_annotation/json_annotation.dart';
{{/json_serializable}}
{{#imports}}
import '{{{.}}}.dart';
{{/imports}}

{{#json_serializable}}
part '{{{classFilename}}}.g.dart';
{{/json_serializable}}
{{#isEnum}}
{{#native_serialization}}
{{>serialization/native/native_enum}}
{{/native_serialization}}
{{#json_serializable}}
{{>serialization/json_serializable/enum}}
{{/json_serializable}}
{{/isEnum}}
{{^isEnum}}
{{#native_serialization}}
{{>serialization/native/native_class}}
{{/native_serialization}}
{{#json_serializable}}
{{>serialization/json_serializable/class}}
{{/json_serializable}}
{{/isEnum}}
{{#hasEnums}}
{{#vars}}
{{#isEnum}}
{{/isEnum}}
{{/vars}}
{{/hasEnums}}
{{/model}}
{{/models}}
