abstract class {{{classname}}} implements Built<{{{classname}}}, {{{classname}}}Builder>, Schema {
  {{#vars}}
  {{#description}}
  /// {{{.}}}
  {{/description}}
  @BuiltValueField(wireName: r'{{{baseName}}}')
{{#isArray}}
  BuiltList<{{{items.datatypeWithEnum}}}>{{#isNullable}}?{{/isNullable}}{{^isNullable}}{{^required}}{{^defaultValue}}?{{/defaultValue}}{{/required}}{{/isNullable}} get {{{name}}};
{{/isArray}}
{{^isArray}}
{{#isMap}}
  BuiltMap<String, {{{items.datatypeWithEnum}}}>{{#isNullable}}?{{/isNullable}}{{^isNullable}}{{^required}}{{^defaultValue}}?{{/defaultValue}}{{/required}}{{/isNullable}} get {{{name}}};
{{/isMap}}
{{^isMap}}
  {{{datatypeWithEnum}}}{{#isNullable}}?{{/isNullable}}{{^isNullable}}{{^required}}{{^defaultValue}}?{{/defaultValue}}{{/required}}{{/isNullable}} get {{{name}}};
{{/isMap}}
{{/isArray}}

  {{/vars}}
  {{{classname}}}._();

  factory {{{classname}}}([void updates({{{classname}}}Builder b)]) = _${{{classname}}};

  static const factory = {{{classname}}}Factory();

  @BuiltValueSerializer(custom: true)
  static Serializer<{{{classname}}}> get serializer => _${{{classname}}}Serializer();
}

class _${{{classname}}}Serializer implements StructuredSerializer<{{{classname}}}> {
  @override
  final Iterable<Type> types = const [{{{classname}}}, _${{{classname}}}];

  @override
  final String wireName = r'{{{classname}}}';

  @override
  Iterable<Object?> serialize(Serializers serializers, {{{classname}}} object,
      {FullType specifiedType = FullType.unspecified}) {
    final result = <Object?>[];
    {{#vars}}
    {{#isNullable}}
    if (object.{{{name}}} != null) {
    {{/isNullable}}
    {{^isNullable}}
      {{^required}}
        {{^defaultValue}}
    if (object.{{{name}}} != null) {
        {{/defaultValue}}
      {{/required}}
    {{/isNullable}}
      result
        ..add(r'{{{baseName}}}')
        ..add(serializers.serialize(object.{{{name}}},
            specifiedType: const FullType({{{datatypeWithEnum}}})));
    {{#isNullable}}
    }
    {{/isNullable}}
    {{^isNullable}}
      {{^required}}
        {{^defaultValue}}
    }
        {{/defaultValue}}
      {{/required}}
    {{/isNullable}}
    {{/vars}}
    return result;
  }

  @override
  {{{classname}}} deserialize(Serializers serializers, Iterable<Object?> serialized,
      {FullType specifiedType = FullType.unspecified}) {
    final result = {{{classname}}}Builder();

    final iterator = serialized.iterator;
    while (iterator.moveNext()) {
      final key = iterator.current as String;
      iterator.moveNext();
      final Object? value = iterator.current;

      switch (key) {
        {{#vars}}
        case r'{{{baseName}}}':
          final valueDes = serializers.deserialize(value,
              specifiedType: const FullType({{{datatypeWithEnum}}})) as {{{datatypeWithEnum}}};
          result.{{{name}}} = valueDes;
          break;
        {{/vars}}
      }
    }
    return result.build();
  }
}

class {{{classname}}}Factory extends JsonSchemaFactory<{{{classname}}}> {
  const {{{classname}}}Factory();

  @override
  {{{classname}}} fromJson(dynamic json) {
    // You must initialize serializers and standardSerializers globally
    return standardSerializers.deserializeWith({{{classname}}}.serializer, json) ?? {{{classname}}}();
  }
}
