{{#built_value}}
{{! already imported inside model:
import 'package:built_collection/built_collection.dart';
import 'package:built_value/built_value.dart';
import 'package:built_value/serializer.dart';
}}
// part '{{{classFilename}}}.g.dart';

class {{{classname}}} extends EnumClass {
{{#allowableValues}}
  {{#enumVars}}
  @BuiltValueEnumConst(wireName: {{{value}}})
  static const {{{classname}}} {{{name}}} = _${{{name}}};
  {{/enumVars}}
{{/allowableValues}}

  static const factory = {{{classname}}}Factory();

  const {{{classname}}}._(String name) : super(name);

  static BuiltSet<{{{classname}}}> get values => _${{{classname}}}Values;
  static {{{classname}}} valueOf(String name) => _${{{classname}}}ValueOf(name);

  static Serializer<{{{classname}}}> get serializer => _${{{classname}}}Serializer;
}

class {{{classname}}}Factory extends JsonSchemaFactory<{{{classname}}}> {
  const {{{classname}}}Factory();

  @override
  {{{classname}}} fromJson(dynamic json) {
    return standardSerializers.deserializeWith({{{classname}}}.serializer, json) ?? {{{classname}}}.values.first;
  }
}
{{/built_value}}
